/* Estilos específicos para a página de dados do cliente */

body {
    background-color: #cdaeff;
    color: white;
    font-family: "Montserrat", sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #4a148c; /* Use uma cor de fundo que combine com seu design */
}

header h1 {
    font-weight: 800;
    font-size: 30px;
    color: white;
}

header a {
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    font-weight: 500;
    transition: .3s;
}

header a:hover {
    color: rgb(0, 179, 0);
    font-weight: 700;
}

#container {
    width: 75%;
    margin: 60px auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.25);
    border-radius: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid rgba(255, 255, 255, 0.5);
}

th, td {
    padding: 12px;
    text-align: left;
}

th {
    background-color: rgba(0, 107, 0, 0.8);
    color: white;
}

td {
    background-color: rgba(255, 255, 255, 0.2);
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}
